* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2874f0;
    height: 7.30vh;
    display: inline-flex;
    width: 100vw;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 75px;
}

.logo {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container input {
    height: 36px;
    width: 70vh;
    padding: 0px 16px;
    border-radius: 10px;
    margin-right: 15px;
}

.container button {
    color: #2874f0;
    background-color: white;
    height: 36px;
    border: 0px;
    width: 8vw;
    border-radius: 10px;
}

.list li {
    display: inline-block;
    margin: 0px 20px;
}

.list ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1px;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
}

.list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11px 102px;
}

.navigation li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    align-items: center;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

.navigation li img {
    width: 4.5vw;
    height: 4.5vw;
}

.image img {
    padding-top: 8px;
    width: 100vw;
    height: 280px;
    box-shadow: 10px 10px rgb(100, 100, 100);
}

.image {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100vw;
}

.sbi img {
    padding: 8px;
    width: 100vw;
}

.phones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 25px 15px;
}

.text1 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    padding-top: 8px;
}

.text2 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #388E3C;
    padding-top: 8px;
}

.text3 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #212121;
    opacity: .6;
    padding-top: 8px;
}

footer{
    background-color: #172337;
}
.footer-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0px 65px 0px 0px;
    padding: 40px 0px 40px 0px;
    justify-content: space-evenly;
}
.footer-container
{
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
}
.footer-container h6{
    color: #878787;
    font-weight: 400;
    margin-bottom: 9px;
    font-size: 12px;
}
.help{
    display: flex;
    flex-direction: column;
    width: max-content;
}
.help p{
    line-height: 2;
}
.info{
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
}

@media(max-width:600px) {
    .container input {
        height: 36px;
        width: 40vh;
        padding: 0px 16px;
        border-radius: 10px;
        margin-right: 15px;
    }

    nav {
        height: 10vh;
        padding-left: 12px;
    }

    .container button {
        width: 10vw;
    }
}